a {
  display: block;
  padding: 8px;
  background-color: lightgray;
}

body {
    background-color: white
}

h1 {
    color: darkcyan;
    font-family: "Segoe UI Semibold", Segoe UI Symbol, Helvetica
}

h2 {
    color: black;
    font-family: "Open Sans", "PT Sans", Times;
    text-align: center
}

li {
    color: white;
    font-family: "Roboto", "PT Sans", Times;
    float: left
}

ul.topnav li.right {float: right;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

topnav {
    text-align: center
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to grey on hover */
li a:hover {
  background-color: grey;
}
